@model IEnumerable<WhatShouldWePlayMVCNoAuth.Models.PlayerSummary>  
  
@{  
    ViewBag.Title = "Friends";
}  
 
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
</head>

<body class="text-center" style="text-align:center;width:auto;background:#1b2838;color:white">
    <hr/>
    <div class="form-horizontal" style="text-align:center;width:auto;border:none">
        <div class="form-group" style="text-align:center;width:auto;border:none">  
            @using (@Html.BeginForm("Games", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new {@style = "text-align:center;width:auto;color:white;border:none" }))
            {
                <table class="table table-condensed" style="text-align:center;width:auto;color:white;border:none">  
                    @for (var i = 0; i < Model.Count(); i++)
                    {
                        <tr>
                            <td>
                                <input type="checkbox" name="SteamIds" value="@Html.DisplayFor(modelItem => Model.ElementAt(i).SteamID)"/>
                            </td>
                            <td>
                                <img src="@Html.DisplayFor(modelItem => Model.ElementAt(i).Avatar)"/> 
                            </td>
                            <td style="text-align:left;">
                                @Html.DisplayFor(modelItem => Model.ElementAt(i).PersonaName)  
                            </td>
                        </tr>
                        }
                </table>

                <button type="submit" class="btn btn-primary">Get Games!</button>
            }
        </div>
    </div>
</body>