@model IEnumerable<WhatShouldWePlayMVCNoAuth.Models.AppDetails>

@{
    ViewBag.Title = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body class="text-center" style="background:#1b2838;color:white">
    <hr />
    <h2>Games in Common</h2>
    <table class="table" style="color:white;border:none">
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Header_Image)"/>
            </td>
        </tr>
    }
    </table>
</body>