@{
    ViewBag.Title = "Sign In";
}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom styles for this template -->
    <link href="~/Content/signin.css" rel="stylesheet">
  </head>
    <body class="text-center" style="background:#1b2838;color:white">
        @using (@Html.BeginForm("SteamLogin", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin" }))
        {
            <img class="mb-4" src="~/Content/steam-logo.png" alt="" width="200 height="200"/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign into Steam</button>
        }
    </body>
</html>